@tailwind base;
@tailwind components;
@tailwind utilities;

/*
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
*/

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  #header {
    display: flex;
    align-items: center;
    height: 80px;
    margin-bottom: 20px;
    background-color: #eee;
  }

  main {}

  #footer {
    height: 80px;
    background-color: #eee;
  }
}
